<!DOCTYPE html>
<html lang="en" ng-app="xchartApp">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="/app/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--   <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css"> -->
    <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">-->
    <link rel="stylesheet" href="//cdn.rawgit.com/angular/bower-material/v0.10.1-rc1/angular-material.min.css">

    <!--<link rel="stylesheet" href="/app/static/css/angular-material.min.css">-->

    <link rel="stylesheet" href="/app/static/css/xc.css">
    <link href="/app/components/prism/prism.css" rel="stylesheet" />
</head>
<body layout="row">

<md-sidenav layout="column" hide-smstyle="overflow: hidden; display: flex;" class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open md-closed" md-component-id="left"
            md-is-locked-open="$media('gt-sm')" tabindex="-1">

    <md-toolbar class="md-default-theme">
        <h1 class="md-toolbar-tools">
            <a ng-href="/" layout="row" flex="" href="/">
                <!--<img src="/app/img/empirix.gif"/>-->
                <div style="line-height:40px; text-indent: 15px;">LabX</div>
            </a>
        </h1>
    </md-toolbar>

    <md-content style="overflow: auto;" class="md-default-theme" ng-controller="homeCtrl">
        <md-list>

            <md-item>
                <md-item-content>

                    <div class="md-tile-content">
                        <a ui-sref="poll" ng-click="openLeft('Poll')">
                            <md-button>
                                <span class="glyphicon glyphicon-thumbs-up"> Poll </span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content>

                    <div class="md-tile-content">
                        <a ui-sref="economy" ng-click="openLeft('Economy')">
                            <md-button>
                                <span class="glyphicon glyphicon-usd"> Economy </span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content>

                    <div class="md-tile-content">
                        <a ui-sref="pm" ng-click="openLeft()">
                            <md-button>
                                <span class="glyphicon glyphicon-cloud"> PM2.5 </span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content ng-click="selectProduct='Auto'">
                    <div class="md-tile-content">
                        <a ui-sref="auto" ng-click="openLeft()">
                        <md-button>
                            <span class="glyphicon glyphicon-cd"> Auto</span>


                        </md-button>
                            </a>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content ng-click="selectProduct='Algorithm'">
                    <div class="md-tile-content">
                        <a ui-sref="algs" ng-click="openLeft()">
                            <md-button>
                                <span class="glyphicon glyphicon-knight"> Algorithm</span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content ng-click="selectProduct='Algorithm'">
                    <div class="md-tile-content">
                        <a ui-sref="d3" ng-click="openLeft()">
                            <md-button>
                                <span class="glyphicon glyphicon-magnet"> Data Visualization</span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>

            <md-item>
                <md-item-content ng-click="selectProduct='Algorithm'">
                    <div class="md-tile-content">
                        <a ui-sref="tks.list" ng-click="openLeft()">
                            <md-button>
                                <span class="glyphicon glyphicon-scale"> Tricks</span>


                            </md-button>
                        </a>
                    </div>
                </md-item-content>
            </md-item>

        </md-list>
    </md-content>
</md-sidenav>

<div layout="column" role="main" flex ng-controller="homeCtrl">

    <md-toolbar class="md-default-theme">

        <div class="md-toolbar-tools">
            <md-button hide-gt-sm ng-click="openLeft()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>

            </md-button>

            <span ng-init="selectProduct='Home'">{{selectProduct}}</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <!--<md-button ng-if="username!=='Admin'" ng-click="login($event)">-->
                <!--<span class="glyphicon glyphicon-lock top"></span>-->
                <!--Login(Guest)-->
            <!--</md-button>-->
            <md-button>
                <md-tooltip>
                    My Github
                </md-tooltip>
                <!--<md-icon md-svg-src=" https://material.angularjs.org/latest/img/icons/github.svg">-->


                <!--</md-icon>-->

            <span class="glyphicon glyphicon-user top" ></span>
                <a href="https://github.com/yushihui">shihui</a>
            </md-button>
            <!--<md-button ng-if="username==='Admin'" ng-click="logout()">-->
                <!--<span class="glyphicon glyphicon-log-out top" title="logout"></span>-->

            <!--</md-button>-->
            <!--<md-button ng-click="signup($event)">-->
                <!--<span class="glyphicon glyphicon-user top" ></span>-->
                <!--Sign Up-->
            <!--</md-button>-->


        </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" id="loading" ></md-progress-linear>
    <md-content ui-view style="margin:16px 10px 10px 10px;" md-scroll-y flex>



    </md-content>



</div>



<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
<script src="/app/static/js/angular-ui-route.min.js"></script>
<script src="/app/components/crossfilter/crossfilter.min.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

<script src="http://cdn.rawgit.com/angular/bower-material/v0.10.1-rc1/angular-material.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script src="/app/components/amcharts/amcharts.js"></script>
<script src="/app/components/amcharts/serial.js"></script>
<script src="/app/poll/poll.js"></script>
<script src="/app/d3/d3.min.js"></script>
<script src="/app/d3/d3.word.js"></script>
<script src="/app/app.js"></script>
<script src="/app/home/home.js"></script>
<script src="/app/auto/auto.js"></script>
<script src="/app/economy/cpi.js"></script>
<script src="/app/components/prism/prism.js"></script>
<script src="/app/d3/graph.js"></script>
<script src="/app/tricks/tricks.js"></script>
</body>
</html>